@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.006 285.88);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.006 285.88);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0.006 285.88);

  --color-primary: oklch(11.2% 0.006 285.88);
  --color-primary-foreground: oklch(98% 0.002 285.88);

  --color-secondary: oklch(96.1% 0.002 285.88);
  --color-secondary-foreground: oklch(11.2% 0.006 285.88);

  --color-muted: oklch(96.1% 0.002 285.88);
  --color-muted-foreground: oklch(46.9% 0.012 285.88);

  --color-accent: oklch(96.1% 0.002 285.88);
  --color-accent-foreground: oklch(11.2% 0.006 285.88);

  --color-destructive: oklch(60.2% 0.177 25.34);
  --color-destructive-foreground: oklch(98% 0.002 285.88);

  --color-border: oklch(91.4% 0.006 285.88);
  --color-input: oklch(91.4% 0.006 285.88);
  --color-ring: oklch(9.8% 0.006 285.88);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9.8% 0.006 285.88);
    --color-foreground: oklch(98% 0.002 285.88);

    --color-card: oklch(9.8% 0.006 285.88);
    --color-card-foreground: oklch(98% 0.002 285.88);

    --color-popover: oklch(9.8% 0.006 285.88);
    --color-popover-foreground: oklch(98% 0.002 285.88);

    --color-primary: oklch(98% 0.002 285.88);
    --color-primary-foreground: oklch(11.2% 0.006 285.88);

    --color-secondary: oklch(17.5% 0.006 285.88);
    --color-secondary-foreground: oklch(98% 0.002 285.88);

    --color-muted: oklch(17.5% 0.006 285.88);
    --color-muted-foreground: oklch(65.1% 0.012 285.88);

    --color-accent: oklch(17.5% 0.006 285.88);
    --color-accent-foreground: oklch(98% 0.002 285.88);

    --color-destructive: oklch(30.6% 0.177 25.34);
    --color-destructive-foreground: oklch(98% 0.002 285.88);

    --color-border: oklch(17.5% 0.006 285.88);
    --color-input: oklch(17.5% 0.006 285.88);
    --color-ring: oklch(83.9% 0.006 285.88);
  }
}

body {
  @apply bg-background text-foreground;
}
